<nav class="navbar navbar-expand-lg navbar-light bg-dark bg-opacity-75">
    <div class="container-fluid">
        <a class="navbar-brand ms-5 me-5 text-white text-logo" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-auto">
                <li class="nav-item">
                    <a class="nav-link active text-navbar" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link text-navbar" href="#">Work</a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link text-navbar" href="#">Contact</a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link text-navbar" href="#">About Me</a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link text-navbar" href="#">Q&A</a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex justify-content-end m-auto">
                <li class="nav-item">
                    <a class="nav-link me-3 text-navbar" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-navbar" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>